/* ------------------------------------------- */
/* ----- Basic Setup ----- */
/* ------------------------------------------- */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;// 16 / 10 * 100 = 62.5%
}

body {
    font-family: 'Josefin sans', sans-serif;
    font-size: $default-font-size;
    color: #555;
    line-height: 1.6;
    background: #fff;
    box-sizing: border-box;
}

section {
    padding: 10rem 0;
}